<h1>Editing User</h1>

<%= render 'form' %>

<button class="btn btn-primary"><%= link_to 'Show', @user , {:style=>"color:#fff; text-decoration:none; background-color: transparent;"} %></button>
<button class="btn btn-primary"><%= link_to 'Back', users_path , {:style=>"color:#fff; text-decoration:none; background-color: transparent;"} %></button>
